<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="http://www.crea-pr.org.br/ws/">
            CREA Paraná
          </a>
        </li>
        <li>
          <a href="http://www.crea-pr.org.br/ws/sobre-o-crea-pr">
            Sobre Nós
          </a>
        </li>
        <li>
          <a href="http://www.crea-pr.org.br/ws/fale-conosco">
            Fale Conosco
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>