<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let column of columns" class="header.classes">{{ column.label }}</th>
                <th *ngIf="hasActions" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td *ngFor="let column of columns" class="row.classes">{{ column.displayFn(row) }}</td>
                <td *ngIf="hasActions" class="td-actions text-center">
                    <button *ngIf="hasEditButton" mat-raised-button type="button" class="btn btn-success btn-link"
                        matTooltip="Editar" (click)="editClickAction(row)">
                        <i class="material-icons">edit</i>
                    </button>
                    <button *ngIf="hasActiveButton" mat-raised-button type="button" class="btn btn-info btn-link"
                        matTooltip="Ativar" (click)="activeClickAction(row)">
                        <i class="material-icons">rounded_corner</i>
                    </button>
                    <button *ngIf="hasDeleteButton" mat-raised-button type="button" class="btn btn-danger btn-link"
                        matTooltip="Excluir" (click)="deleteClickAction(row)">
                        <i class="material-icons">delete_sweep</i>
                    </button>
                </td>
            </tr>
            <tr *ngIf="!rows || rows.length === 0">
                <td colspan="5" class="text-center">
                    {{ emptyMessage }}
                </td>
            </tr>
        </tbody>
    </table>
</div>